MYSQL_DATABASE=clinica_pacientes
MYSQL_USER=clinica
MYSQL_PASSWORD=cambia_esta_contrasena_mysql
MYSQL_ROOT_PASSWORD=cambia_esta_contrasena_root
PG_DATABASE=clinica_medicos
PG_USER=clinica
PG_PASSWORD=cambia_esta_contrasena_postgres
